* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #ec715f;
}
.container {
  width: 1024px;
  height: 70px;
  margin: 0 auto;
}
.logo {
  float: left;
}
nav {
  float: right;
}
.nav-list-item {
  color: #fafafa;
  font-size: 16px;
  list-style: none;
  display: inline-block;
  line-height: 70px;
  padding: 0 30px;
}

h2 {
  font-size: 20px;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url("img/mv.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  /* 上下中央寄せ */
  /* justify-content: center; */
  /* 左右中央寄せ */
  align-items: center;
}
.main-visual-text {
  font-family: "Raleway", sans-serif;
  color: #fafafa;
  font-size: 64px;
  margin-top: 200px;
}
.main-visual-subtext {
  font-family: "Raleway", sans-serif;
  color: #fafafa;
  font-size: 20px;
  margin-top: 10px;
}

section {
  width: 100%;
  padding: 90px 0;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.portfolio,
.profile {
  background-color: #eceff1;
}

.heading {
  font-size: 32px;
}
.heading-text {
  margin: 30px 0;
}
.heading-after-bar {
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  margin-top: 8px;
}
.portfolio-image {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-image-item {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
}
.portfolio-image-item:nth-child(1) {
  background-image: url("img/sketch.jpg");
}
.portfolio-image-item:nth-child(2) {
  background-image: url("img/websuku.png");
}
.portfolio-image-item:nth-child(3) {
  background-image: url("img/write.jpg");
}
.portfolio-image-item:nth-child(4) {
  background-image: url("img/webcamp.png");
}
.portfolio-image-item:nth-child(5) {
  background-image: url("img/talk.jpg");
}
.portfolio-image-item:nth-child(6) {
  background-image: url("img/webcamp-mother.png");
}
.portfolio-image-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-image-item:nth-child(n + 4) {
  margin-bottom: 0;
}

.fas {
  font-size: 60px;
}
.box-heading {
  font-size: 20px;
  margin: 10px 0;
}
.feature-box {
  width: 980px;
  display: flex;
}
.feature-box-item {
  width: 320px;
  height: auto;
  margin-right: 10px;
}
.feature-box-item:nth-child(3) {
  margin-right: 0;
}

.profile-box {
  width: 1024px;
  display: flex;
}
.profile-box-item {
  width: 512px;
  text-align: left;
}
.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url("img/my-icon.jpg");
  margin: 0 auto;
}
.profile-heading {
  margin-bottom: 5px;
}
.profile-text:nth-child(2) {
  margin-bottom: 20px;
}

.contact-box {
  width: 800px;
  display: flex;
}
.contact-box-item {
  width: 400px;
}
.contact-heading {
  margin-bottom: 5px;
}
.fab {
  font-size: 50px;
  margin-right: 20px;
}
.fab:nth-child(4) {
  margin-right: 0;
}
.contact-item {
  width: 200px;
  margin: 0 auto;
  text-align: left;
}
.contact-heading:nth-child(3) {
  margin-top: 20px;
}

.footer {
  background-color: #ec715f;
  width: 100%;
  height: 60px;
  color: #fafafa;
  text-align: center;
  line-height: 60px;
}
