* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header要素 */
header {
  width: 100%;
  background-color: #ec715f;
}
.container {
  width: 1024px;
  height: 70px;
  margin: 0 auto;
}
.logo {
  height: 70px;
  float: left;
}
nav {
  float: right;
}
.nav-list-item {
  color: #fafafa;
  font-size: 16px;
  list-style: none;
  display: inline-block;
  line-height: 70px;
  padding: 0 30px;
}
.nav-hunger {
  display: none;
}

/* main-visual要素 */
.main-visual {
  width: 100%;
  height: 650px;
  background-image: url("img/mv.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  /* 上下中央寄せ */
  /* justify-content: center; */
  /* 左右中央寄せ */
  align-items: center;
}
.main-visual-text {
  font-family: "Raleway", sans-serif;
  color: #fafafa;
  font-size: 64px;
  margin-top: 200px;
}
.main-visual-subtext {
  font-family: "Raleway", sans-serif;
  color: #fafafa;
  font-size: 20px;
  margin-top: 10px;
}

/* 共通要素 */
section {
  width: 100%;
  padding: 90px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.portfolio,
.profile {
  background-color: #eceff1;
}
.heading {
  font-size: 32px;
}
.heading-text {
  width: 1024px;
  padding: 30px 0;
}
.heading-after-bar {
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  margin-top: 8px;
}
h2 {
  font-size: 20px;
}

/* portfolio要素 */
.portfolio-image {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-image-item {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
}
.portfolio-image-item:nth-child(1) {
  background-image: url("img/sketch.jpg");
}
.portfolio-image-item:nth-child(2) {
  background-image: url("img/websuku.png");
}
.portfolio-image-item:nth-child(3) {
  background-image: url("img/write.jpg");
}
.portfolio-image-item:nth-child(4) {
  background-image: url("img/webcamp.png");
}
.portfolio-image-item:nth-child(5) {
  background-image: url("img/talk.jpg");
}
.portfolio-image-item:nth-child(6) {
  background-image: url("img/webcamp-mother.png");
}
.portfolio-image-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-image-item:nth-child(n + 4) {
  margin-bottom: 0;
}

/* feature要素 */
.feature-box {
  width: 980px;
  display: flex;
}
.feature-box-item {
  width: 320px;
  height: auto;
  margin-right: 10px;
}
.feature-box-item:last-child {
  margin-right: 0;
}
.fas {
  font-size: 60px;
}
.feature-box-heading {
  margin: 10px 0;
}
.feature-box-text {
  text-align: left;
}

/* profile要素 */
.profile-box {
  width: 1024px;
  display: flex;
}
.profile-box-item {
  width: 512px;
  text-align: left;
}
.profile-box-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url("img/my-icon.jpg");
  margin: 0 auto;
}
.profile-box-heading {
  margin-bottom: 5px;
}
.profile-box-text:nth-child(2) {
  margin-bottom: 20px;
}

/* contact要素 */
.contact-box {
  width: 800px;
  display: flex;
}
.contact-box-item {
  width: 400px;
}
.contact-box-item-position {
  width: 200px;
  margin: 0 auto;
  text-align: left;
}
.contact-box-heading {
  margin-bottom: 5px;
}
.contact-box-heading:nth-child(3) {
  margin-top: 20px;
}
.fab {
  font-size: 50px;
  margin-right: 20px;
}
.fab:nth-child(4) {
  margin-right: 0;
}

/* footer要素 */
.footer {
  background-color: #ec715f;
  width: 100%;
  height: 60px;
  color: #fafafa;
  text-align: center;
  line-height: 60px;
}

@media screen and (max-width: 768px) {
  /* header要素 */
  .container {
    width: 90%;
    height: 50px;
  }
  .logo {
    height: 50px;
  }
  nav {
    display: none;
  }
  .nav-hunger {
    width: 40px;
    height: 40px;
    margin: 5px 0;
    border: 2px solid #fafafa;
    border-radius: 2px;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-hunger div {
    width: 24px;
    height: 4px;
    border-radius: 2px;
    background-color: #fafafa;
    margin-bottom: 5px;
  }
  .nav-hunger div:last-child {
    margin-bottom: 0;
  }

  /* main-visual要素 */
  .main-visual {
    background-image: url("img/code.png");
  }
  .main-visual-text {
    font-size: 40px;
  }
  .main-visual-subtext {
    font-size: 18px;
  }

  /* 共通要素 */
  .heading-text {
    width: 90%;
  }
  .sp-none {
    display: none;
  }

  /* portfolio要素 */
  .portfolio-image {
    width: 300px;
    display: block;
  }
  .portfolio-image-item {
    margin-right: 0;
  }
  .portfolio-image-item:nth-child(2n + 1) {
    display: none;
  }
  .portfolio-image-item:nth-child(4) {
    margin-bottom: 10px;
  }

  /* feature要素 */
  .feature-box {
    width: 90%;
    flex-direction: column;
  }
  .feature-box-item {
    width: 90%;
    margin: 0 auto 10px;
  }
  .feature-box-item:last-child {
    margin: 0 auto;
  }

  /* profile要素 */
  .profile-box {
    width: 90%;
    flex-direction: column;
  }
  .profile-box-item {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
  .profile-box-heading {
    margin-top: 20px;
  }

  /* contact要素 */
  .contact-box {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  .contact-box-item {
    width: 90%;
  }
  .contact-box-item-position {
    width: 90%;
    text-align: center;
  }
  .contact-box-item:last-child {
    margin-top: 20px;
  }
  .fab {
    margin-right: 8px;
  }
}
